/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.DS_Store
/build/
composer.lock
/.idea/
/web/*
!web/compiled
/tmp/*
/gulp/*
design
node_modules
Kuban24.skipper
/web/res
/bower_components